.white-space{
  height: 50px;
}

.image-grid{
  padding: 15pt;
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(300px, auto) );
  grid-template-rows: 1fr;
  grid-gap: 25px;
}

.grid-part-portrait{
  height:250px;
  width: auto;
}

.grid-part-landscape {
  height: auto;
  width: 100%;
  max-width: 350px;
  min-width: 300px;
}

.center-landscape{
  vertical-align: middle;
  text-align: middle;
  align-items: center;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.center {
  display: table-cell;
  margin-left: auto;
  margin-right: auto;
}